# Python
__pycache__/
*.py[cod]
*.so

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore SQLite database
db.sqlite3

# Ignore environment files
.env*
!/.env.example

# Ignore logs
logs/
*.log
